/* Landing Section Styles */

/* 24 */
#main-section {
    padding: 0;
    width: var(--ls-full);
    height: 100vh;
    min-height: 100vh;

    /* 25-1 */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 25 */
#main-section img {
    width: var(--ls-full);
    height: var(--ls-full);
    min-width: 1280px;

    /* 25-2 */
    position: absolute;
    object-fit: cover; /* object-fit:cover는 꽉 채우고 이미지가 커지는 부분은 넘치게 만드는 것 */
}

/* 26 */
#main-section .landing-text-box {
    z-index: 10;
}

/* 27 */
#main-section .landing-text-box h1 {
    font-size: var(--fs-title);
    line-height: 1.4; /* 단위를 따로 적어주지 않으면 기본 단위는 em이다. */
    font-weight: var(--fw-400);
}

/* 28 */
#main-section .landing-text-box p {
    padding: var(--el-medium) 0;
    width: var(--ls-1-3);
}

/* Meet Section Styles */

/* 29 */
.meet-section .meet-wrapper {
    width: var(--ls-full);
    height: auto;
    display: flex;
    align-items: center;
}

/* Meet Box Text Styles */

/* 35 */
.meet-section .meet-text-box {
    width: var(--ls-1-2);
}

/* 36 */
.meet-section .meet-text-box h4 {
    font-size: var(--fs-12);
    font-weight: var(--fw-400);
}

/* 37 */
.meet-section .meet-text-box p {
    font-size: var(--fs-18);
    line-height: 1.8;
    width: 80%;
    padding: var(--el-wide) 0 var(--el-medium); /* 위에는 넓게 좌우는 없고, 아래는 미디움으로*/
    color: var(--color-gray-3);
    
    /* 37-1 */
    position: relative;
}

/* 38 */
.meet-section .meet-text-box p:after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--color-gray-3);
    left: 0;
    bottom: 0;
    position: absolute;
}

/* 39 */
.meet-section .meet-text-box span {
    font-size: var(--fs-18);
    padding-top: var(--el-medium);
    display: flex;
    align-items: center;
    
    /* 40-1 */
    column-gap: 1rem;
}

/* 40 */
.meet-section .meet-text-box span:before {
    content: '';
    width: 30px;
    height: 1px;
    background: var(--color-gray-3);
    display: block;
}


/* Meet Box Image Styles */

/* 30 */
.meet-section .meet-image-box {
    width: var(--ls-1-2);
    display: flex;
    align-items: center;

    /* 31-2 */
    column-gap: var(--el-medium);
}

/* 31 */
.meet-section .meet-left-image {
    width: var(--ls-1-2);

    /* 33-1 */
    display: flex;
    flex-direction: column;
    row-gap: var(--el-medium);

    /* 34-1 */
    align-items: flex-end;
}

/* 32 */
.meet-section .meet-right-image {
    width: var(--ls-1-2);
}

/* 33 */
.meet-section .meet-image-box img {
    width: var(--ls-full);

    /* 34-1 */
    border-radius: 0.25rem;
}

/* 34 */
.meet-section .meet-image-box :nth-child(2) {
    width: 80%;
}


/* Features Section Styles */
/* 37 */
.feature-section.section {
    padding: var(--el-section-small) 0;
}

/* 35 */
.feature-section .features {
    width: var(--ls-full);
    display: flex;
    justify-content: space-around;
}

/* 36 */
.feature-section .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--el-wide);
}

/* 38 */
.feature-section .feature h4 {
    font-size: var(--fs-name);
    font-weight: var(--fw-400);
    padding: var(--el-medium) 0;
}

/* 39 */
.feature-section .feature p {
    font-size: var(--fs-small-text);
    text-align: center;
}


/* Slider Section Styles */
/* 40 */
.slider-section .container {
    position: relative;
}

/* 41 */
.slider-section .swiper-slide {
    display: flex;
    width: var(--ls-full);
}

/* 42 */
.slider-section .swiper-slide > div {
    width: var(--ls-1-2);
    padding: 0 var(--el-medium);
    height: 320px;
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;
}

/* 43 */
.slider-section .swiper-slide > div > img {
    width: var(--ls-full);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* 44 */
.slider-section .slider-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: var(--el-medium);
}

/* 47 */
.slider-section .swiper-slide.swiper-slide-active .slider-text {
    /* 49 */
    animation: show-up 0.5s 1;
    transform: translateY(40px);
    opacity: 0;
    /* 50 */
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

/* 48 */
@keyframes show-up {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* 45 */
.slider-section .slider-text h4 {
    font-size: 1.8rem;
    font-weight: var(--fw-400);
}

/* 46 */
.slider-section .slider-text p {
    font-size: var(--fs-small-text);
    width: 90%;
}

/* 51 */
.slider-section .slider-nav {
    background: #fff;
    color: var(--color-black);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 2px var(--color-gray-3);
}

/* 52 */
.swiper-button-next, .swiper-button-prev {
    svg {
        height: 50%;
        width: 50%;
   }
}

/* 53 */
.swiper-button-next {
    right: 1.5rem !important;
}

/* 54 */
.swiper-button-prev {
    left: 1.5rem !important;
}

/* 55 */
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -2.5rem;
}

/* 56 */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

/* 57 */
.swiper-pagination-bullet-active {
    background: var(--color-black);
}

/* Offers Section Styles */
/* 58 */
.offers-section .products {
    display: flex;
    flex-wrap: wrap;
}

/* 59 */
.offers-section .product-frame {
    width: var(--ls-1-3);
    padding: var(--el-medium);
}

/* 65 */
.offers-section .product-img {
    width: var(--ls-full);
    height: 220px;
    overflow: hidden;
    position: relative;
    border-radius: 0.25rem;
}

/* 60 */
.offers-section .product-frame img {
    width: var(--ls-full);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* 61 */
.offers-section .product-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--el-normal);
    margin-top: var(--el-normal);
}

/* 62 */
.offers-section .product-text h4 {
    font-size: var(--fs-name);
    font-weight: var(--fw-400);
}

/* 63 */
.offers-section .product-text strong {
    font-size: var(--fs-18);
}

/* 64 */
.offers-section .product-text p {
    padding: var(--el-medium);
    font-size: var(--fs-small-text);
}